<a href="https://colab.research.google.com/github/DannySkandul9/MIS2800/blob/main/Prep3_Skandul.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('NFL_Scouting.db')

In [4]:
cursor = conn.cursor()

In [5]:
print("Database connected successfully")

Database connected successfully

In [7]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS scouting_stats (
    team_name TEXT,
    city TEXT,
    wins INTEGER,
    points_per_game REAL
)
""")

In [8]:
conn.commit()

In [9]:
print("Table created successfully")

Table created successfully

In [11]:
cursor.execute("""
INSERT INTO scouting_stats (team_name, city, wins, points_per_game)
VALUES
    ('Chiefs', 'Kansas City', 11, 29.2),
    ('Bills', 'Buffalo', 10, 26.5),
    ('Cowboys', 'Dallas', 12, 27.8),
    ('Jets', 'New York', 7, 18.6)
""")

In [12]:
conn.commit()

In [13]:
print("Data inserted successfully")

Data inserted successfully

In [20]:
cursor.execute("""
SELECT * FROM scouting_stats
WHERE points_per_game > 24
""")
results = cursor.fetchall()
for row in results:
    print(row)

('Chiefs', 'Kansas City', 11, 29.2)
('Bills', 'Buffalo', 10, 26.5)
('Cowboys', 'Dallas', 12, 27.8)

In [17]:
results = cursor.fetchall()

In [18]:
print("Teams averaging more than 24 points per game:")
for row in results:
    print(row)

Teams averaging more than 24 points per game:
('Chiefs', 'Kansas City', 11, 29.2)
('Bills', 'Buffalo', 10, 26.5)
('Cowboys', 'Dallas', 12, 27.8)

In [25]:
cursor.execute("""
SELECT * FROM scouting_stats
ORDER BY wins DESC
""")
results_sorted = cursor.fetchall()
for row in results_sorted:
    print(row)

('Cowboys', 'Dallas', 12, 27.8)
('Chiefs', 'Kansas City', 11, 29.2)
('Bills', 'Buffalo', 10, 26.5)
('Jets', 'New York', 7, 18.6)

In [22]:
results = cursor.fetchall()

In [23]:
print("Teams sorted by wins (highest to lowest):")
for row in results:
    print(row)

Teams sorted by wins (highest to lowest):
('Cowboys', 'Dallas', 12, 27.8)
('Chiefs', 'Kansas City', 11, 29.2)
('Bills', 'Buffalo', 10, 26.5)
('Jets', 'New York', 7, 18.6)

In [26]:
cursor.execute("""
SELECT * FROM scouting_stats
WHERE wins > 5
ORDER BY city ASC
""")
results_filtered_sorted = cursor.fetchall()
for row in results_filtered_sorted:
    print(row)

In [27]:
results = cursor.fetchall()

In [28]:
print("Teams with more than 5 wins, sorted by city:")
for row in results:
    print(row)

Teams with more than 5 wins, sorted by city:
('Bills', 'Buffalo', 10, 26.5)
('Cowboys', 'Dallas', 12, 27.8)
('Chiefs', 'Kansas City', 11, 29.2)
('Jets', 'New York', 7, 18.6)

In [29]:
conn.close()

In [30]:
print("Database connection closed")

Database connection closed